############################
# Build artifacts
############################
bin/
obj/

############################
# Visual Studio
############################
.vs/
*.user
*.suo

############################
# Rider / VS Code (optional)
.idea/
.vscode/



############################
# Local secrets (if ever used)
############################
appsettings.Development.json

############################
# Logs
############################
*.log

############################
# Optional (remove if you want to keep)
############################
*.http

# Azure deployment artifacts
countryquizapi - Zip Deploy/
*.arm.json
Properties
ServiceDependencies/
serviceDependencies*.json